.bg-custom-dark {
    background-color: #121212;
}

.custom-container {
    max-width: 490px;
    min-width: 490px;
}

.cameraContainer {
    position: relative;
    width: 100%;
    padding-top: calc(100% * (6 / 5)); /* 6:5 ratio */
    overflow: hidden;
}

.camera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the video covers the container while maintaining its aspect ratio */
}


