body,
.offcanvas-body,
.offcanvas-header,
.offcanvas-end {
    background-color: #121212;
    color: #f2f3f4;
}

header {
    background-color: #1a1a1a;
    font-family: Cocogoose;
}

footer {
    background-color: #1a1a1a;
}

a {
    color: #cacaca;
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.nav-btn {
    color: #cacaca;
}

.close-btn {
    color: #cacaca;
}

.comment {
    background-color: #353535;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.my-comment {
    background-color: #ffffff;
    border-radius: 20px;

}

.form-control {
    border-color: #ffffff;
}

.list-group-item {
    border: none;
    background-color: #121212;
    color: #f2f3f4;
}

.modal-content {
    background-color: #2a2a2a;
    color: #f2f3f4;
}

.modal-header,
.modal-footer {
    border-bottom: none;
    border-top: none;
}


.user-tag {
    background-color: #1a1a1a;
}

.thumbnail:hover {
    opacity: 0.7;
    cursor: pointer;
}

.image-container {
    position: relative;
    display: inline-block;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .thumbnail:hover + .overlay {
    opacity: 1;
  }


@font-face {
    font-family: "Cocogoose";
    src: url("../static/font/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
}

@media (min-width: 768px) {
    footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-btn {
        display: none;
    }
}