body,
.offcanvas-body,
.offcanvas-header,
.offcanvas-end {
    background-color: #121212;
    color: #f2f3f4;
}

header, footer {
    background-color: #1a1a1a;
    font-family: Cocogoose;
}

a {
    color: #cacaca;
    text-decoration: none;
}


ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.like-btn {
    color: #cacaca;
}

.setting-btn {
    color: #cacaca;
    text-decoration: none;
}

.nav-btn, .close-btn, .comment-btn {
    color: #cacaca;
    text-decoration: none;
}

.liked {
    color: #ff0000 !important;
}

.comment {
    background-color: #353535;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.my-comment {
    background-color: #ffffff;
    border-radius: 20px;

}

.form-control {
    border-color: #ffffff;
}

.list-group-item {
    border: none;
    background-color: #121212;
    color: #f2f3f4;
}

.modal-content {
    background-color: #2a2a2a;
    color: #f2f3f4;
}

.modal-header,
.modal-footer {
    border-bottom: none;
    border-top: none;
}

.user-tag {
    background-color: #1a1a1a;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



@font-face {
    font-family: "Cocogoose";
    src: url("../static/font/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
}

@media (min-width: 768px) {
    footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-btn {
        display: none;
    }
}