body, .offcanvas-body, .offcanvas-header, .offcanvas-end {
    background-color: #121212;
    color: #f2f3f4;
}

header {
    background-color: #1a1a1a;
    font-family: Cocogoose;
}

footer {
    background-color: #1a1a1a;
}

a {
    color: #cacaca;
}

ul li{
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.nav-btn, .close-btn {
    color: #cacaca;
}

@font-face {
    font-family: "Cocogoose";
    src: url("../static/font/Cocogoose-Pro-Semilight-trial.ttf") format("truetype");
}

@media (min-width: 768px) {
    footer {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-btn{
        display: none;
    }
}


