.bg-custom-dark {
  background-color: #121212;
  color: #f2f3f4;
}

.bg-custom-dark-2 {
  background-color: #323949;
}

.navbar {
  background-color: #323949;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  position: sticky;
  width: 100%;
}

.navbar-btn {
  border-radius: 20px;
  color: #f2f3f4;
}

.navbar-btn-add {
  background-color: #323949;
  color: #ff6700;
}

.main-content {
    height: 100vh;
}

body {
  overflow: hidden;
}

.custom-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Regola il mass-width del contenitore centrale */
.custom-container {
    max-width: 490px;
}

/* Altri stili per il contenuto all'interno del contenitore centrale */
.custom-container h1 {
    color: #007bff; /* Colore del testo */
}

.custom-row-height {
  height: 150px;
}