.bg-custom-dark {
    background-color: #121212;
}

.bg-custom-dark-2 {
    background-color: #323949;
}

.text-custom-white {
    color: #f2f3f4;
}

.navbar {
    background-color: #323949;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    bottom: 0;
    position: sticky;
    width: 100%;
}

.navbar-btn {
    border-radius: 20px;
    color: #f2f3f4;
}

.navbar-btn-add {
    background-color: #323949;
    color: #ff6700;
}

.main-content {
    height: 100vh;
}

body {
    overflow: hidden;
}
    
